@use 'sass:map';
@use '@angular/material' as mat;
@use '../../theme/theme-colors' as theme;

:host.shadow ::ng-deep .mat-mdc-text-field-wrapper {
  box-shadow: 0px 0px 14px 0px #0000001a;
}

:host {
  display: inline-block;
  margin: 27px 10px 5px;

  @include mat.form-field-overrides(
    (
      outlined-outline-color: transparent,
      container-height: 0px,
      outlined-input-text-placeholder-color: map.get(theme.$netural, grey),
      outlined-container-shape: 10px,
      outlined-hover-outline-color: map.get(theme.$primary, blue),
      outlined-error-outline-color: map.get(theme.$status, red),
      error-text-color: map.get(theme.$status, red),
    )
  );

  @include mat.button-density(-1);

  @include mat.select-overrides(
    (
      placeholder-text-color: map.get(theme.$netural, grey),
      trigger-text-size: 14px,
    )
  );

  &.readonly {
    pointer-events: none;
    opacity: 0.6;
  }
}

:host ::ng-deep {
  .mat-mdc-text-field-wrapper {
    height: var(--height);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid map.get(theme.$netural, grey-line-2);
    background: map.get(theme.$netural, white);
  }

  .mat-mdc-form-field-error-wrapper {
    padding-left: 0;
  }

  .amital-select-panel-opened {
    .mat-mdc-text-field-wrapper {
      border-radius: 10px 10px 0 0 !important;
    }

    .mat-mdc-notch-piece {
      border: none !important;
    }
  }

  .mat-mdc-select-arrow {
    display: none;
  }
}

:host.disabled ::ng-deep {
  .mat-mdc-text-field-wrapper {
    background: map.get(theme.$netural, grey-line-2) !important;
  }
}

::ng-deep {
  .amital-select-panel {
    border-radius: 0 0 10px 10px !important;
    padding: 0 !important;
    box-shadow: 0px 0px 20px 0px #00000033 !important;

    @include mat.select-overrides(
      (
        panel-background-color: map.get(theme.$netural, white),
      )
    );

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: map.get(theme.$primary, blue-02);
    }

    mat-option {
      border-bottom: 1px solid #ccc;

      span {
        overflow: hidden;
        white-space: nowrap !important;
        text-overflow: ellipsis;
        font-size: 14px !important;
      }

      &.mat-mdc-option-active,
      &:hover:not(.mdc-list-item--disabled) {
        background-color: map.get(theme.$primary, blue-03) !important;
      }
    }

    .amital-select-add-new-option {
      display: flex;

      amital-icon-plus {
        margin-left: 5px;
        display: inline-flex;
        align-items: center;
      }
    }
  }
}

mat-form-field {
  width: 100%;

  amital-icon-arrow-up,
  amital-icon-arrow-down {
    position: relative;
    right: 17px;
  }

  amital-icon-error {
    position: relative;
    bottom: -3px;
  }
}

.form-wrapper {
  position: relative;
}
