<div class="pdf-viewer-container">
  @if (showToolbar() && src()) {
    <amital-doc-viewer-toolbar
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      [currentZoom]="currentZoom"
      (previousPage)="previousPage()"
      (nextPage)="nextPage()"
      (pageChange)="goToPage($event)"
      (zoomIn)="zoomIn()"
      (zoomOut)="zoomOut()"
      (rotateClockwise)="rotateClockwise()"
      (download)="downloadPdf()"
    >
    </amital-doc-viewer-toolbar>
  }

  <div class="pdf-viewer-content">
    <ngx-extended-pdf-viewer
      [src]="pdfSrc"
      [zoom]="currentZoom"
      [page]="currentPage"
      [rotation]="currentRotation"
      (pdfLoaded)="onPdfLoaded($event)"
      (pdfLoadingFailed)="onPdfLoadingFailed($event)"
      (pageChange)="onPageChange($event)"
      (currentZoomFactor)="onZoomChange($event)"
    >
    </ngx-extended-pdf-viewer>
  </div>
</div>
