// Primary colors
$primary: (
  blue: #1976d2,
  blue-01: #1565c0,
);

// Neutral colors
$netural: (
  white: #ffffff,
  black: #000000,
  grey-line-1: #f5f5f5,
  grey-line-2: #e0e0e0,
  color-1: #9e9e9e,
);

// Disabled colors
$disabled: (
  color-1: #bdbdbd,
);
